<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scissor</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/fonts.css" />
</head>
<body>
    <div class="w-screen h-screen relative work-sans-font">
        <nav class="w-full mx-auto max-w-[1280px] px-[60px] pt-[30px] flex justify-between  items-center">
            <div class="logo flex w-[180px] justify-between items-center">
                <img class="w-[55px]" src="/images/scissor.png" />
                <p class="text-[32px] font-bold">Scissor</p>
            </div>
            <div class="flex gap-[30px] text-[24px] font-medium">
                <a href="/login">Log In</a>
                <a href="/signup">Sign Up</a>
            </div>
        </nav>
        <div class="w-full justify-center pt-[20px] max-w-[1280px] mx-auto px-[60px]">
            <section class="mt-[90px] flex justify-between items-center">
                <div class="max-w-[700px]">
                    <h1 class="text-[64px]  font-bold leading-[86px]">Shorten, Customize, and Track Your Links with Ease</h1>
                    <p class="font-medium text-[24px] mt-[20px]">Unlock the Power of URL Shortening, Custom URLs, QR Code Generation, Analytics, and Link History</p>
                    <a href="/signup"><button class="hover:scale-[1.02] active:scale-[0.98] transition py-[10px] text-[24px] bg-black px-[20px] rounded-lg text-white font-medium mt-[20px]">Get Started</button></a>
                </div>
                <img class="w-[400px]" src="/images/link-shortener.svg" />
            </section>
        </div>
    </div>

</body>
</html>